body {
    background-color: #fffaf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1, h3 {
    color: #b93434;
    margin: 20px;
}

.tabela-itens {
    border-collapse:collapse;
    border:1px solid #000000;
}

.tabela-itens-header {
    text-align:center;
    background:none repeat scroll 0 0 #B5B5B5;
    border-bottom:1px solid #000000;
    padding:2px;
}